{% extends "layout.html" %}

{% block body %}
<h1>Команди</h1>
<table class="table">
    <thead>
        <tr>
            <th class="team-header">Господарі</th>
            <th class="team-header">Гості</th>
            <th class="stat-header">Результат</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
            <tr>
                <td class="team-cell" style="border-left: 10px solid {{ match['color_home'] }}">{{ match['home_name'] }}</td>
                <td class="team-cell" style="border-right: 10px solid {{ match['color_quest'] }}">{{ match['quest_name'] }}</td>
                <td class="stat-cell">{{ match['goal_home'] }}:{{ match['goal_quest'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}